<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/commons.css">
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<form class="box-form" method="post">
    <div>
        <input type="text" placeholder="login" th:field="*{user.login}">
        <input type="password" placeholder="haslo" th:field="*{user.pass}">
        <input type="submit" value="Zaloguj">
    </div>
</form>
</body>
</html>